.header {
   width: 100%;
   height: 45%;
   }

.nav {
    width: 100%;
    height: 10%;
    }

.main {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
}

.div {
    display: flex;
    justify-content: space-around;
}

.p {
    text-align: justify;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 60%;
    margin: auto;
    flex-shrink: 0;
}

.background-color {
    background-color: rgba(188, 188, 188, 0.5);
}

.ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}