.header {
   width: 100%;
   height: 45%;
   }

.nav {
    width: 100%;
    height: 10%;
    background-color: rgb(188, 188, 188);
    }

.main {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 188, 188);
}

.div {
    display: flex;
    justify-content: space-around;
}

.p {
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    }

.img {
    width: 30%;
    margin: auto;
    flex-shrink: 0;
    border: 8px solid RGB(236, 224, 70);
}

.background-color {
    background-color: rgba(188, 188, 188, 0.5);
}

.ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}
.h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.list {
    list-style: none;
}

.text {
    text-align: center;
    font: 16px/1.4 Arial, sans-serif;
}

.a {
    color: black;
    transition: color 0.5s;
}

a:hover {
    color: RGB(236, 224, 70);
}

.h4 {
    margin-top: 60px;
    font-weight: bold
}

.hr {
    border: none;
    background-color: RGBA(236, 224, 70, 0.3);
    color: RGBA(236, 224, 70, 0.3);
    height: 8px;
}